name: Generate Keystore

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Generate Keystore
      run: |
        keytool -genkey -v -keystore my-release-key.jks -keyalg RSA -keysize 2048 -validity 10000 -alias my-key-alias -dname "CN=HLexample, OU=HLexample, O=HLexample, L=HLexample, S=HLexample, C=US" -storepass ${{ secrets.KEYSTORE_PASSWORD }} -keypass ${{ secrets.KEY_PASSWORD }}
        openssl aes-256-cbc -salt -in my-release-key.jks -out my-release-key.jks.enc -k ${{ secrets.KEYSTORE_PASSWORD }}
        
    - name: Upload Encrypted Keystore
      uses: actions/upload-artifact@v3
      with:
        name: my-release-key.jks.enc
        path: my-release-key.jks.enc
        
    - name: Upload Unencrypted Keystore
      uses: actions/upload-artifact@v3
      with:
        name: my-release-key.jks
        path: my-release-key.jks
